experiment/src/main/resources/xml/book.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ddupa.com/testxsd" elementFormDefault="qualified">
	<xs:element name="书架">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element name="书">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="书名" type="xs:string" />
						</xs:sequence>
						<xs:attribute name="是否可卖" type="xs:boolean" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>